/*---------------------------------------------*/
/* Basic Setup */
/*---------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #4a4a4a;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*---------------------------------------------*/
/* REUSUABLE COMPONENTS */
/*---------------------------------------------*/

section {
  padding: 80px 0;
}

/* ------ Headings ------ */

h1, h2, h3, h4 {
  font-weight: 300;
  letter-spacing: 1px;
}

h1 {
  font-size: 260%;
  word-spacing: 4px;
  font-family: "Merriweather", Georgia, serif;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
  font-family: "Merriweather", Georgia, serif;
}

.underlined h2:after {
  display: block;
  height: 2px;
  background-color: #EB56BB;
  content: "";
  width: 200px;
  margin: 30px auto;
}

.not-underlined h2:after {
  display: block;
  height: 2px;
  background-color: transparent;
  content: "";
  width: 200px;
  margin: 30px auto;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 130%;
}

/* ------ Paragraphs ------ */

.long-copy  {
  line-height: 145%;
  width: 62%;
  margin-left: 19%;
  font-size: 100%;
}



/* ------ Buttons ------ */


/*---------------------------------------------*/
/* HEADER */
/*---------------------------------------------*/

.hero-header {
  display: flex;
  flex-direction: column;
  text-align: center
}

.hero-header h1 {
  margin-bottom: 20px;
  line-height: 145%;
}

.cta-button-placement {
  text-align: center;
}

.horizontal-mailchimp .mc-field-group,
.horizontal-mailchimp .clear {
  display: inline-block;
}

#mailchimp {
  padding: 20px;
}
#mailchimp input {
  border: medium none;
  color: #4A4A4A;
  font-size: 110%;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  margin-bottom: 10px;
  padding: 14px 10px;
  min-width: 300px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#mailchimp input.email {
  background: #fff;
  margin-right: 10px;
}

#mailchimp input[type="submit"] {
  background-color: #EB56BB;
  box-shadow: 0px 10px 40px -10px rgba(255,0,131,0.5);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 14px 0px;
  font-size: 110%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#mailchimp input[type="submit"]:hover {
  opacity: .8;
 }

/*---------------------------------------------*/
/* WHATS A SNIPP DOE */
/*---------------------------------------------*/

.snipps-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.snipp-item {
  width: 450px;
}

/*---------------------------------------------*/
/* FEATURES */
/*---------------------------------------------*/

.content-wrapper {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  clear: both;
  zoom: 1;
}
#hero-tabs {
  margin: 0 auto;
  position: relative;
  height: 700px;
}

#hero-tabs .tab-content {
  // position: relative;
  display: none;
  overflow: hidden;
  height: 0;
}
#hero-tabs .tab-content.tab-content-active {
  display: block;
  height: auto;
  overflow: inherit;
}

#hero-tabs .hero-tabs-content {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin-right: 30px;
}
#hero-tabs .hero-tabs-nav {
  // position: relative;
  // z-index: 50;
  min-width: 380px;
  background-color: transparent;
}
#hero-tabs .tab-nav {
  display: block;
  min-height: 60px;
  margin-top: -3px;
  margin-bottom: 30px;
  margin-left: 40px;
}
#hero-tabs .tab {
  display: block;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 10px 0 10px;
  text-align: left;
  text-transform: uppercase;
  color: #4A4A4A;
  min-width: 247px;
  font-size: 100%;
}

#hero-tabs .tab span {
  padding: 3px 0;
  border-bottom: 2px solid transparent;
}
#hero-tabs .tab-active span {
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 2px solid #EB56BB;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom .5s;
}
#hero-tabs .hero-tabs-caption {
  position: relative;
  z-index: 50;
  min-width: 380px;
  background: transparent;
}

.snipp-feature { width: 360px; }

.tab-nav ion-icon {
  margin-right: 10px;
  display: inline-block;
  color: #4a4a4a;
  vertical-align: middle;
  margin-top: -5px;
}

.section-features {
  background-color: #fff;
}

.mobile-features-container {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.mobile-headers {
  font-weight: 700;
  letter-spacing: 1px;
  border-bottom: 2px solid #EB56BB;
  text-transform: uppercase;
  color: #4A4A4A;
  margin-bottom: 15px;
  font-size: 100%;
}

.mobile-snipp-feature-item {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 2px #efefef;
}

.mobile-item {
  margin: 0 10px 30px 10px;
}

/*---------------------------------------------*/
/* SNIPPS FOR TEAMS */
/*---------------------------------------------*/

.teams-illustration { width: 550px; }

.section-teams ul {
  display: inline-block;
  list-style: none;
}

.section-teams ul li  {
  padding: 10px 0;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: .5px;
}

.section-teams ion-icon {
  margin-right: 10px;
  display: inline-block;
  color: #4a4a4a;
  vertical-align: middle;
  margin-top: -5px;
}

.teams-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/*---------------------------------------------*/
/* PACKAGES */
/*---------------------------------------------*/

.subtitle {
  text-align: center;
}

.plan-box {
  background-color: #f4f4f4;
  border-radius: 5px;
  min-width: 400px;
  box-shadow: 0 2px 2px #efefef;
  margin: 15px 10px;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 5px;
  font-weight: 100;
  color: #EB56BB;
}

.plan-price-description {
  font-size: 80%;
}


/*Font size below is 30% of 300% above of 20px the original*/
.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

.plan-box ion-icon {
  font-size: 80%;
  margin-right: 10px;
  color: #EB56BB;
}

.plan-box div:last-child {
  text-align: left;
  border: 0;
  min-height: 170px;
}
.plan-box div:first-child {
  background-color: #eaeaea;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 210.43px;
}

.plans-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.section-plans {
  background-color: #fff;
}

/*---------------------------------------------*/
/* LEARN WITH US */
/*---------------------------------------------*/


/*---------------------------------------------*/
/* ANIMATIONS */
/*---------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-5 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-5.animated { opacity: 1; }

.js--wp-6.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.js--wp-8.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}


.floating-icon {
  width: 25px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.twitter-float {
    position: absolute;
    left: 135px;
    top: 200px;
    animation: circular 10s linear infinite;
}

.podcast-float {
    position: absolute;
    left: 250px;
    top: 350px;
    animation: circular 15s linear infinite;
}

.mail-float {
    position: absolute;
    left: 90px;
    top: 375px;
    animation: circular 8s linear infinite;
}

.article-float {
    position: absolute;
    right: 150px;
    top: 200px;
    animation: circular 7s linear infinite;
}

.book-float {
    position: absolute;
    right: 250px;
    top: 350px;
    animation: circular 10s linear infinite;
}

.youtube-float {
    position: absolute;
    right: 90px;
    top: 375px;
    animation: circular 15s linear infinite;
}

@keyframes circular {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

/*---------------------------------------------*/
/* MOBILE QUERIES */
/*---------------------------------------------*/

@media only screen and (max-width: 1312px) {
  .twitter-float { left: 105px; }
  .podcast-float { left: 200px; }
  .mail-float { left: 60px; }
  .article-float { right: 110px; }
  .book-float { right: 210px; }
  .youtube-float { right: 50px; }

}

@media only screen and (max-width: 1232px) {
  .twitter-float { left: 75px; }
  .podcast-float { left: 165px; }
  .mail-float { left: 30px; }
  .article-float { right: 80px; }
  .book-float { right: 175px; }
  .youtube-float { right: 20px; }

  .teams-illustration {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .long-copy  {
    width: 70%;
    margin-left: 15%;
  }

}

@media only screen and (max-width: 1124px) {
  .twitter-float {
      top: 250px;
      left: 75px;
  }

  .podcast-float { left: 125px; }

  .mail-float {
      left: 30px;
      top: 355px;
  }

  .article-float {
      top: 250px;
      right: 80px;
  }

  .book-float { right: 135px; }

  .youtube-float {
      right: 20px;
      top: 355px;
  }

  .long-copy  {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 1023px) {
  section { padding: 60px 0; }
  h2 { margin-bottom: 30px; }

  .underlined h2:after { margin: 25px auto; }
  .not-underlined h2:after { margin: 25px auto; }

.plan-box { min-width: 380px; }
.plan-box div:last-child { min-height: 150px; }
.plan-box div:first-child { min-height: 190.43px; }

}

@media only screen and (max-width: 990px) {
  .twitter-float { display: none; }
  .podcast-float { display: none; }
  .mail-float { display: none; }
  .article-float { display: none; }
  .book-float { display: none; }
  .youtube-float { display: none; }


}

@media only screen and (max-width: 767px) {
  section { padding: 30px 0; }
  h1 { font-size: 180%; }
  #mailchimp input { font-size: 100%; }
  #mailchimp input[type="submit"] { font-size: 100%; }

  h2 { font-size: 160%; }

  .underlined h2:after { margin: 20px auto; }
  .not-underlined h2:after { margin: 20px auto; }

  .mobile-features-container { display: flex; }

  #hero-tabs { display: none; }

  .teams-illustration {
    width: 350px;
    margin-bottom: 20px;
  }

  .plan-box { min-width: 340px; }
  .plan-box div:last-child { min-height: 110px; }
  .plan-box div:first-child { min-height: 150.43px; }
}

@media only screen and (max-width: 650px) {
  h2 { font-size: 130%; }

}

@media only screen and (max-width: 550px) {

  h2 { font-size: 110%; }

  .section-teams ul li  {
    padding: 5px 0;
    font-size: 90%;
  }

  h1 { font-size: 160%; }
  h3 { font-size: 110%; }
  #mailchimp input { font-size: 90%; }
  #mailchimp input[type="submit"] { font-size: 90%; }
}

@media only screen and (max-width: 486px) {

  h2 {
    letter-spacing: .5px;
    font-size: 100%;
  }
  .snipp-item { width: 350px; }
}

@media only screen and (max-width: 480px) {
  section { padding: 25px 0; }
}

@media only screen and (max-width: 455px) {
  h1 { font-size: 140%; }
  h3 { font-size: 90%; }
  #mailchimp input { font-size: 80%; }
  #mailchimp input[type="submit"] { font-size: 80%; }



  .plan-box { min-width: 300px; }
  .plan-box div:last-child { min-height: 30px; }
  .plan-box div:first-child { min-height: 70.43px; }
}

@media only screen and (max-width: 415px) {

  h1 { font-size: 120%; }
  h3 { font-size: 70%; }
  #mailchimp input { font-size: 70%; }
  #mailchimp input[type="submit"] { font-size: 70%; }

  h2 {
    letter-spacing: 0px;
    font-size: 88%;
    margin-bottom: 20px;
  }

  .underlined h2:after {
    width: 150px;
    margin: 15px auto;
  }

  .not-underlined h2:after {
    width: 150px;
    margin: 15px auto;
  }

  .teams-illustration { width: 300px; }

}


@media only screen and (max-width: 345px) {
  h1 { font-size: 110%; }
  h3 { font-size: 65%; }

  h2 {
    font-size: 85%;
    margin-bottom: 15px;
  }

  .underlined h2:after {
    height: 1px;
    width: 125px;
    margin: 10px auto;
  }

  .not-underlined h2:after {
    height: 1px;
    width: 125px;
    margin: 10px auto;
  }

  #mailchimp input { min-width: 250px; }

  .snipp-item { width: 280px; }

  .section-teams ul li  { font-size: 85%; }
}
