<div class="footer">
  <div class="footer-links">
    <!-- <a href="#"><i class="fab fa-github"></i></a> -->
    <a href="https://www.instagram.com/getsnipps/"><i class="fab fa-instagram instagram-color"></i></a>
    <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
    <a href="https://twitter.com/GetSnipps"><i class="fab fa-twitter twitter-color"></i></a>
    <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
  </div>
  <div class="footer-copyright">
    © Snipps <%= Time.now.year %> <i class="fas fa-heart"></i>
  </div>
</div>
