<div class="banner">
  <div class="header-titles">
    <h1>Create bite-sized takeaways from your favorite content.</h1>
  </div>
  <div class="sub-header">
    <p>Put everything you learn in one place. See what others are learning.</p>
  </div>
  <div class="cta-button-placement">
    <a href="" class="cta-button">Get Updates</a>
  </div>
</div>

<div class="steps">
  <div class="header-titles">
    <h2>How does it work?</h2>
  </div>
  <div class="main-content">
    <h3>1. Snipp the Essentials</h3>
    <p>When listening to a podcast, reading a book, or scrolling through Twitter, find the key information you want to remember. Upload it to Snipps using the form.</p>
    <h3>2. Revisit for Recall</h3>
    <p>Your Snipps become a personal database of learning. Search your library for a specific one or review daily for retention. Everything is in one place with an easy-to-read format to ensure you can find and remember.</p>
    <h3>3. Engage in Community</h3>
    <p>See what other people are snipping from your favorite podcasts and books. Discover new content to enjoy by following people you admire. Grow your audience by sharing your Snipps.</p>
  </div>
</div>

<div class="info">
  <div class="header-titles">
    <h2>Tell Me More</h2>
  </div>
  <div class="main-content main-content-spacing">
    <p>We are consuming more content through more platforms than ever before. We read articles, tweets, and books, listen to podcasts, and watch videos without a good place to store what we learn. To avoid information overload and actually retain what is important, we need one
    location to save, search, and share all we are learning. Snipp only the parts you
    find most valuable for later and learn with like-minded curators.</p>
  </div>
</div>

<div class="connect">
  <div class="header-titles">
    <h2>Learn With Us</h2>
  </div>
  <div class="main-content main-content-spacing bottom-main-content-spacer">
    <p>Our team is hard at work building this members-only platform for you to enjoy noise-cancelling curation. Enter your email address below and we will keep you up-to-date on how the platform is developing. In the meantime, we will send you a weekly newsletter with Snipps from our team.</p>
  </div>
  <div class="cta-button-placement">
    <a href="" class="cta-button">Get Updates</a>
  </div>
</div>


