.navbar-lewagon {
  justify-content: space-between;
  border-bottom: 1px solid rgba(74, 74, 74, .6);
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-name img {
  width: 85px;
}
